<% provide(:title, "Found") %>
<h1>Found</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
  <%if @user%>  
    <h3>
        <%= gravatar_for @user%>
        <%if @user.person%>
        <%= link_to @user.person.name, @user %><br>
        <%= @user.person.ocupation %><br>
        <%elsif @user.company%>
        <%= link_to @user.company.name_co, @user %><br>
        <%= @user.company.type_co %><br>
        <%end%>
      </h3>
  <%else%>
  	<h1>Without matches</h1>
        <%= link_to "Back", search_path, class: "btn btn-primary"  %>
  <%end%>
  </div>
</div>