<% provide(:title, 'Peack rate') %>
<h1>Peack</h1>
<%@company = @user.company%>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= gravatar_for @user %>
    <%= @company.name_co %><br>
    <%= @company.ceo_co %><br>
    <%= @company.type_co %><br>

  </div>
  <br>
  <div class="col-md-6 col-md-offset-3">
    <% if Rate.find_by(rateable_type: "Company", rateable_id:@company.id) %>
      Punctuality:  <%= Rate.find_by(rateable_id:@company.id, dimension:"punctuality").stars %><br>
      	<%= imdb_style_rating_for @company, @user %>
      <br>
      Service: <%= Rate.find_by(rateable_id:@company.id, dimension:"service").stars %><br>
      <%= imdb_style_rating_for @company, @user %>
      <br>
      Quality: <%= Rate.find_by(rateable_id:@company.id, dimension:"quality").stars %><br>
      <%= imdb_style_rating_for @company, @user %>
    <%else%>
      <h3>Even without Peack</h3>
    <% end %>
  </div>
</div>